consul = "consul.play.local:8500"

log_level = "warn"

template {
  // consul template to run
  source      = "/var/consul/template/service.play-nginx.ctmpl"

  // consul output file to be updated with template run output
  destination = "/etc/nginx/conf.d/upstream.play-nginx.conf"

  // commands to be executed after the destination file is updated. please look at it carefully.
  //please add -test flag in your application, and create config test and db conection test for test flag.
  command = "nginx -t && (nginx -s reload || curl -X POST --data '{\"channel\": \"#alert-skipper-fintech\", \"username\": \"egold-frontend Consul Watch\", \"text\": \"$(date) - '<!channel>', *egold-frontend* Error when RELOADING nginx on $HOSTNAME PLEASE CHECK\", \"icon_emoji\": \"\"}'  http://nsqlookupd.nsq.service.aliyun.consul:4151/pub?topic=slack-webhook)"

  // this is by default 30s
  command_timeout = "90s"
} 